[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/osm0sis/AnyKernel3.git
[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel.git
[submodule "kali-nethunter-project"]
	path = kali-nethunter-project
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-project.git
